body {
    border: 0;
    margin: 0;
    padding: 0
}
.absolute {
    background-image: url('../images/work-manager.gif');
    background-repeat: no-repeat;
    background-size: contant;
    background-position: center top -390px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}
.container {
    position: relative;
}
.wrap {
    padding: 2em;
    margin: 5em 0 0 0;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    max-width: 100%;
    line-height: normal;
}